body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0ebeb;
}

.main-container {
    display: flex;
    width: 90vw;
    height: 90vh;
    max-width: 1200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

/* Left Section */
.left-section {
    margin: 0;
    flex: 1.5;
    background-color: whitesmoke;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    text-align: center;
}

.left-section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #fff;
}


.form-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container h1 {
    font-size: 2rem;
    color: #a84dba;
    margin-bottom: 30px;
}

.form-container h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#login-form label {
    text-align: left;
    font-size: 0.9rem;
    color: #555;
}

#login-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.forgot-password {
    align-self: flex-end;
    font-size: 0.9rem;
    color: #a84dba;
    text-decoration: none;
    margin-bottom: 20px;
}

.forgot-password:hover {
    color: #7f3b8d;
}

#login-form button {
    width: 100%;
    padding: 15px;
    background: #a84dba;
    /* Violet */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-form button:hover {
    background: #763284;
    /* Darker Violet */
}

/* Social Login */
.social-login {
    margin-top: 20px;
}

.social-login p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

.social-login .buttons {
    display: flex;
    gap: 10px;
}

.google-login,
.facebook-login {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

.google-login {
    background: #db4437;
}

.google-login:hover {
    background: #c33c2f;
}

.facebook-login {
    background: #4267B2;
}

.facebook-login:hover {
    background: #365899;
}

/* Signup Link */
.signup-link {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
}

.signup-link a {
    color: #6C63FF;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    color: #5042C1;
}